.settings-logo{
    width: 20vw;
    right: 2vw;
    top: 1.2vh;
    position: absolute;
    z-index: 2;
}

.settings-gear{
    width: 5vw;
    position: absolute;
    right: 24vw;
    top: 1vh;
    z-index: 2;
}
.settings-button{
    border: 0;
    padding: 0;
   
 
}

