.navbarstore{
    background: grey;
    width: 33.33vw;
    text-align: center;

}
.navbarclicker{
    background: grey;
    width: 33.33vw;

    text-align: center;
 
}
.navbarawards{
    background: grey;
    width: 33.33vw;

    text-align: center;

}

.nav{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}