.navbarstore{
    background: grey;
    width: 33.33vw;
    text-align: center;

}
.navbarclicker{
    background: grey;
    width: 33.33vw;

    text-align: center;
 
}
.navbarawards{
    background: grey;
    width: 33.33vw;

    text-align: center;

}



.virusIcon{
    color: #29bcd6;
}