.storecard{
    width: 100vw;
    height: 13vh;
    background: cyan;
    margin-top: 2vh;
}
.scpicture{
    width: 16vw;
}
.storecardimg{
    position: absolute;
}
.arrowdown{
    width: 4vw;
}
.arrowup{
    width: 4vw;
}
