* {
  text-align: center;
}

.backgroundMain {
  background-image: url("../../assets/Bloodstream_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: -3;
  overflow: hidden;
}

.backgroundTop {
  background-image: url("../../assets/Bloodstream_Background-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}
.virus1 {
  height: 100%;
  width: 100%;
  margin-top: 40%;
  z-index: 10;
}
.clicker {
  z-index: 10;
}	
.x1 {	
  animation: xaxis1 12s linear 2s infinite normal;	
  z-index: -2 !important;	
  position: fixed;	
}	

.y1 {	
  height: 10%;	
  width: 10%;	
  animation: yaxis1 12s linear 2s infinite normal;	
}	

@keyframes xaxis1 {	
  0% {	
    transform: translateX(calc(5vw));	
  }	
  25% {	
    transform: translateX(calc(7vw));	
  }	
  50% {	
    transform: translateX(calc(25vw));	
  }	
  100% {	
    transform: translateX(calc(25vw));	
  }	
}	
@keyframes yaxis1 {	
  0% {	
    transform: translateY(calc(0vw)) scale(0.5);	
  }	
  40% {	
    transform: translateY(calc(180vw)) scale(3);	
  }	
  100% {	
    transform: translateY(calc(180vw)) scale(3);	
  }	
}	

.x2 {	
  animation: xaxis2 9s 2s linear infinite normal;	
  z-index: -2 !important;	
  position: fixed;	
}	

.y2 {	
  height: 10%;	
  width: 10%;	
  animation: yaxis2 9s 2s linear infinite normal;	
}	

@keyframes xaxis2 {	
  0% {	
    transform: translateX(calc(10vw));	
  }	
  25% {	
    transform: translateX(calc(20vw));	
  }	
  50% {	
    transform: translateX(calc(70vw));	
  }	
  100% {	
    transform: translateX(calc(70vw));	
  }	
}	

@keyframes yaxis2 {	
  0% {	
    transform: translateY(calc(10vh)) scale(0.5);	
  }	
  25% {	
    transform: translateY(calc(40vh));	
  }	
  50% {	
    transform: translateY(calc(30vh)) scale(3);	
  }	
  100% {	
    transform: translateY(calc(30vh)) scale(3);	
  }	
}	
.x3 {	
  animation: xaxis3 7s linear infinite normal;	
  z-index: -1;	
  position: fixed;	
}	

.y3 {	
  height: 10%;	
  width: 10%;	
  animation: yaxis3 7s linear infinite normal;	
}	

@keyframes xaxis3 {	
  0% {	
    transform: translateX(calc(-10vw));	
  }	
  25% {	
    transform: translateX(calc(-15vw));	
  }	
  50% {	
    transform: translateX(calc(-30vw));	
  }	
  100% {	
    transform: translateX(calc(-30vw));	
  }	
}	

@keyframes yaxis3 {	
  0% {	
    transform: translateY(calc(12vh)) scale(0.5);	
  }	
  25% {	
    transform: translateY(calc(35vh));	
  }	
  50% {	
    transform: translateY(calc(-20vh)) scale(3);	
  }	
  100% {	
    transform: translateY(calc(-20vh)) scale(3);	
  }	
}	

.x4 {	
  animation: xaxis4 8s linear infinite normal;	
  z-index: -1;	
  position: fixed;	
}	

.y4 {	
  height: 10%;	
  width: 10%;	
  animation: yaxis4 8s linear infinite normal;	
}	

@keyframes xaxis4 {	
  0% {	
    transform: translateX(calc(0vw));	
  }	
  25% {	
    transform: translateX(calc(0vw));	
  }	
  40% {	
    transform: translateX(calc(30vw));	
  }	
  100% {	
    transform: translateX(calc(30vw));	
  }	
}	

@keyframes yaxis4 {	
  0% {	
    transform: translateY(calc(21vw)) scale(0.5);	
  }	
  25% {	
    transform: translateY(calc(60vw));	
  }	
  40% {	
    transform: translateY(calc(-20vw)) scale(3);	
  }	

  100% {	
    transform: translateY(calc(-20vw)) scale(3);	
  }	
}	

.x5 {	
  animation: xaxis5 8s 4s linear infinite normal;	
  z-index: -2 !important;	
  position: fixed;	
}	

.y5 {	
  height: 10%;	
  width: 10%;	
  animation: yaxis5 8s 4s linear infinite normal;	
}	

@keyframes xaxis5 {	
  0% {	
    transform: translateX(calc(0vw));	
  }	
  25% {	
    transform: translateX(calc(-5vw));	
  }	
  45% {	
    transform: translateX(calc(-30vw));	
  }	
  100% {	
    transform: translateX(calc(-30vw));	
  }	
}	

@keyframes yaxis5 {	
  0% {	
    transform: translateY(calc(10vw)) scale(0.5);	
  }	
  25% {	
    transform: translateY(calc(40vh));	
  }	
  45% {	
    transform: translateY(calc(100vh)) scale(1.6);	
  }	
  100% {	
    transform: translateY(calc(100vh)) scale(1.6);	
  }	
}
