.clickertitle{
    text-align: center;
}

.background{
    background-image: url("../../assets/Bloodstream_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    top: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}